@import "../../styles/variables/colors.scss";

.cryptos {
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__overlay {
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(transparent, $bgColor);
  }
}

@media (min-width: 768px) {
  .cryptos {
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
