@import "../../styles/variables/colors.scss";

.cryptos {
  position: relative;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .cryptos {
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
