@import "./styles/variables/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: $bgColor;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: $bgColor;
}

::-webkit-scrollbar-thumb {
  background-color: $primaryGray;
}

::selection {
  background-color: $primaryYellow;
}
